.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
}

.navbar-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #9e0cd1;

}

.navbar {
  background-color: #000000;
  color: #9e0cd1;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.nav-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.nav-li {
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 8px rgb(255 255 255 / 50%);
  border-radius: 5px;
  color: aliceblue;
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-li:hover {
  color: #9e0cd1;

}

.cartWidget {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}


.cart-widget {
  width: 50px;
}

.cart-widget-span {
  color: aliceblue;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
 
  .navbar-title {
    font-size: 1.2rem;
  }
  .navbar {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .nav-ul {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .nav-li {
    padding: 10px;
    margin: 5px;
    box-shadow: 0 0 8px rgb(255 255 255 / 50%);
    border-radius: 5px;
    color: aliceblue;
    font-size: 0.8rem;
    cursor: pointer;
  }
  .nav-li:hover {
    color: #9e0cd1;
  }
  .cartWidget {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .cart-widget {
    width: 25px;
  }
  .cart-widget-span {
    color: aliceblue;
  }
}
