* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: aliceblue;
  margin-left: 1rem;
}

.navbar {
  background-color: #000000;
  color: aliceblue;
  display: flex;
}

.nav-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.nav-li {
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

.cartWidget {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}


.cart-widget {
  width: 50px;
}

.cart-widget-span {
  color: aliceblue;
}

.container-Titulo {
  text-align: center;
  font-size: 3rem;
}

.itemlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.item {
  display: flex;
  background-color: aliceblue;
  color: #333;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 8px rgb(0 0 0 / 50%);
  border-radius: 5px;
  width: 250px;
  height: 400px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.item-img {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 8px rgb(0 0 0 / 50%);
  border-radius: 5px;

}

.item-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.item-description {
  font-size: 1rem;
  color: #333;
  padding: 5px;

}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 5px;
}

.counter-btn {
  display: flex;
  padding: 2px;
  margin: 2px;
  box-shadow: 0 0 8px rgb(0 0 0 / 50%);
  border-radius: 5px;
  cursor: pointer;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.masMenos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.agregar {

  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}

.counter-btn-btb {
  background-color: aliceblue;
  color: #333;
  padding: 0 10px;
  border: none;
  font-size: 1.2rem;
}

.counter-display {
  color: #333;
  padding: 0 10px;
  border: none;
  font-size: 1rem;
}

.add-btn {
  background-color: aliceblue;
  border: none;
  color: rgb(243, 158, 48);
}